.additional-catalog::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 2px;
  top: 2090px;
  right: 0;
  background-color: $color-bottom;
}

.additional-catalog__title {
  width: 245px;
  margin: 0 0 30px;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  background-color: $main-background;
}

.additional-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-list__item {
  border-top: 1px solid $border-light;
}

.products-list__item:last-child {
  border-bottom: 1px solid $border-light;
}

.products-item__title {
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: $color-text-title;
}

.products-item__row {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  color: $paragraph-light;
}
