.catalog__title {
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.products__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid $border-light;
}

.products__item:last-child {
  margin: 0 0 30px;
  border-bottom: 1px solid $border-light;
}

.card__link {
  width: 125px;
  padding-top: 30px;
}

.card__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 140px;
  padding-top: 20px;
  margin: 0 0 20px;
}

.card__title {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-title;
  text-align: left;
  width: 90px;
  margin: 0 0 13px;
}

.card__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  color: $paragraph-light;
  width: 142px;
}

.description__cell {
  padding: 0;
  text-align: left;
}

.description__cell:last-child {
  text-align: right;
}

.card__all {
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.card__icon {
  padding-top: 25px;
  margin-bottom: 25px;
}

.card {
  .card__title {
    &--add {
      margin: 0 0 8px;
      width: 204px;
      color: $accent-text;
    }
  }
}

.card__text {
  &--add {
    margin: 0 0 21px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    color: $paragraph-light;
  }
}

.card__button {
  margin-bottom: 30px;
  width: 100%;
}

.button {
  &--muted {
    color: $paragraph-light;
    background-color: $background-light;
  }

  &--muted:hover {
    background-color: $bottomcatalog-hover;
  }

  &--muted:active {
    color: $paragraph-light-active;
    background-color: $bottomcatalog-hover;
  }
}
