.categories__list {
  list-style: none;
}

.categories__item {
  background-color: $background-light;
}

.categories__title {
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
}

.categories__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: $paragraph-light;
}

.slimming {
  background-image: url("../../img/slimming.svg");
  background-repeat: no-repeat;
  background-position: 30% 10%;
}

.weight-gain {
  background-image: url("../../img/weight-gain.svg");
  background-repeat: no-repeat;
  background-position: 30% 10%;
}

.categories__link {
  color: $color-text;
}

.categories__link:active {
  color: $color-text-active;
}

.categories__link:active svg path {
  fill: $color-text-active;
}
