.main-nav__toggle {
  padding: 10px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 24px;
  height: 16px;
  background: transparent;
  background-image: url("../../img/open-menu.svg");
  background-repeat: no-repeat;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid $border-light;
}

.site-list__item:last-child {
  border-bottom: 1px solid $border-light;
}

.site-list__link {
  padding: 22px 69px 24px;
  display: block;
  color: $color-text;
}

.site-list__link:hover {
  color: $color-text-hover;
}

.site-list__link:active {
  color: $color-text-active;
}

@media (min-width: $tablet-width) {
  .main-nav__wraper {
    width: 430px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-list__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    margin: 0 -15px;
    padding: 10px 15px;
    border: none;
  }

  .site-list__item:last-child {
    border: none;
  }

  .site-list__link {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wraper {
    width: 476px;
  }

  .site-list__item {
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .site-list__link {
    color: $main-background;
  }
}
