.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid $border-light;
}

.site-list__item:last-child {
  border-bottom: 1px solid $border-light;
}

.site-list__link {
  padding: 22px 40px 24px;
  display: block;
  color: $color-text;
}

.site-list__link:hover {
  color: $color-text-hover;
}

.site-list__link:active {
  color: $color-text-active;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    width: 440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-list__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    margin: 0 -15px;
    padding: 10px 15px;
    border: none;
    position: relative;
  }

  .site-list__item:last-child {
    border: none;
  }

  .site-list__link {
    display: flex;
    flex-direction: row;
    padding: 0;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 25px;
        left: 0;
        height: 2px;
        background: $color-bottom;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 480px;
    margin-left: 20px;
  }

  .site-list__item {
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .site-list__link {
    color: $main-background;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 35px;
        left: 0;
        height: 2px;
        background: $main-background;
      }
    }
  }
}
