.present__imege {
  background-image: url("../../img/icon_gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.present__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}
