.program {
  position: relative;
  margin-bottom: 22px;
  color: $main-background;

  // @media (min-width: 1000px) {
  //   min-height: 694px;
  // }
}

.program__background {
  position: absolute;
  background-repeat: no-repeat;
  min-height: 290px;
  height: 61%;
  width: 100%;
  display: block;
  z-index: -1;
  background-image: url("../../img/background-cat.jpg");
  background-size: cover;

  // @media (min-width: 1000px) {
  //   width: 50%;
  //   height: 100%;
  //   right: 0;
  //   top: -100px;
  // }
}

.program__title {
  padding-top: 30px;
  margin: 0 0 20px;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

.program__text {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.program__button {
  left: 0;
  top: 300px;
  position: relative;
}

.program__imege {
  margin: 0 0 35px;
}

@media (min-width: $tablet-width) {
  .program {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: $color-text;
    text-align: left;
    background: none;
  }

  .program__background {
    display: none;
  }

  .program__box {
    width: 540px;
    margin: 0 auto;
  }

  .program__title {
    margin: 0 0 41px;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    color: $color-text;
  }

  .program__text {
    margin: 0 0 50px;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .program__imege {
    margin: 0 0 -50px;
    position: relative;
    left: 5px;
    top: -68px;
    z-index: -1;
  }

  .program__button {
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 25px;
    width: 203px;
    position: relative;
    left: 0;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .program {
    margin: 0 0 160px;
    display: flex;
    flex-direction: column;
    padding-left: 87px;
    color: $color-text;
    text-align: left;
  }

  .program__box {
    margin: 0 0 125px;
  }

  .program::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -200px;
    right: 0;
    width: 50%;
    height: 697px;
    background-color: $background-cat;
    background-image: url("../../img/background-cat-tablet.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: right;
  }

  .program__text {
    margin: 0 0 70px;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .program__imege {
    position: absolute;
    top: 0;
    left: 557px;
    margin: auto;
  }

  .program__button {
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    margin-top: 95px;
    padding: 10px 40px;
    position: relative;
    top: -15px;
  }
}
